<h1>Welcome back {{userName}}</h1>
<button ng-click="logout()">Log out</button>
<button class="pure-button-red" ng-click="deleteUser()">Delete Me</button>
<div><h3>Track this stock</h3></div>
<form ng-submit="addStock(stockSymbol); getQuote(stockSymbol)">
  <input placeholder="Symbol" ng-model="stockSymbol"><button>Track</button>
</form>

<div ng-if="stocks.length !== 0">
  <h2>You're currently tracking these stocks</h2>
  <!-- <button>Refresh All</button> -->
  <!-- <div class="tracking" ng-repeat="stock in stocks">
    <quote-box stock="stock" stocks="stocks"></quote-box>
  </div> -->
  <div class="data-box" ng-repeat="stock in stocks">
    <quote-box stock="stock"></quote-box>
    <button ng-model="stock" ng-click="removeStock(stock)">Remove</button>
  </div>
</div>
<div ng-if="stocks.length === 0">
  <h2>You are not tracking any stocks at this time.</h2>
</div>
